body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    padding: 15px;
    background-color: #1274a9;
    border-radius: 5px;
}

ul a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 3px;

}

ul a:hover {
    background-color: rgba(18, 89, 133, 0.517);
    transform: scale(1.05);

}