body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    padding: 15px;
    background-color: #1274a9;
    border-radius: 5px;
}

ul a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 3px;

}

ul a:hover {
    background-color: rgba(18, 89, 133, 0.517);
    transform: scale(1.05);

}

h1 {
    text-align: center;
    margin: 5px 0;
    color: #333;
    border-bottom: 3px solid #333;
    padding-bottom: 10px;
    width: 30%;
    margin: 0 auto;

}

h2 {
    text-align: left;
    color: black;
    margin-bottom: 10px;
    font-size: 20px;
}

img {
    border-radius: 50%;
    border: 5px solid #2c3e50;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}